page-health-result {
    .test-container {
        margin: 10px;
        padding: 1rem;
        box-shadow: 0 0 5px 2px rgba(223, 223, 221, .55);
        .circle-box {
            display: flex;
            width: 14rem;
            height: 14rem;
            margin: 0 auto;
            border-radius: 50%;
            box-shadow: 0 0 5px 5px rgba(72, 138, 255, .5);
            justify-content: center;
            align-items: center;
            > div {
                text-align: center;
            }
        }
    }
    .card-ios {
        width: 100%;
        margin: 12px 0 12px;
    }
    .tonic-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .tonic-item {
        width: 48%;
        margin: .2rem;
        border: 1px solid #488aff;
        flex: 0 1 auto;
        .product-img {
            position: relative;
            overflow: hidden;
            width: 100%;
            padding: 50% 0;
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                transform: translate(-50%, -50%);
            }
        }
        .product-label {
            font-size: 15px;
            line-height: 20px;
            display: -webkit-box;
            overflow: hidden;
            height: 40px;
            margin-top: 8px;
            margin-bottom: 5px;
            padding-left: 3px;
            text-overflow: ellipsis;
            word-wrap: break-word;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
        .product-price {
            display: flex;
            justify-content: space-between;
            span {
                &:first-child {
                    padding-left: .2rem;
                    color: #f11;
                }
                &:last-child {
                    padding-right: .2rem;
                    color: #2dd;
                }
            }
        }
    }
}
