page-health-test {
    .card-ios{
        margin-top: 0;
    }
    .test-title {
        margin: 3rem 0;
    }
    .illustrate {
        margin-bottom: 4rem;
        letter-spacing: 3px;
        font-size: 15px;
        line-height: 24px;
    }
    .start-btn {
        display: block;
        margin: 0 auto;
    }
    ion-label {
        white-space: normal;
    }
    ion-card {
        display: none;
    }
    ion-card.current {
        display: block;
    }
    .btn-groups {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
